In [1]:
import numpy as np

In [2]:
import pandas as pd

In [24]:
labels = ['a', 'b', 'c']

In [4]:
my_data = [10,20, 30]

In [5]:
arr = np.array(my_data)

In [6]:
d = {'a': 30, 'b':20, 'c': 30}

In [7]:
d

{'a': 30, 'b': 20, 'c': 30}

In [8]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [9]:
pd.Series(data= my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series (my_data, labels)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(d, arr)

10   NaN
20   NaN
30   NaN
dtype: float64

In [12]:
pd.Series(d)

a    30
b    20
c    30
dtype: int64

In [13]:
pd.Series(data= labels)

0    a
1    b
2    c
dtype: object

In [14]:
ser = pd.Series([1,2,3,4], ['USA', 'GERMANY', 'ITALY', 'JAPAN'])

In [15]:
ser

USA        1
GERMANY    2
ITALY      3
JAPAN      4
dtype: int64

In [16]:
ser['USA']

1

In [17]:
ser['ITALY']

3

In [18]:
ser2 = pd.Series([0,2,3,4],['USA', 'GERMANY', 'COLOMBIA', 'JAPAN'])

In [19]:
ser + ser2

COLOMBIA    NaN
GERMANY     4.0
ITALY       NaN
JAPAN       8.0
USA         1.0
dtype: float64

In [20]:
from numpy.random import randn

In [21]:
np.random.seed(101)

In [22]:
df = pd.DataFrame(randn(3,4),['ROW1','ROW2','ROW3'],['COL1', 'COL2', 'COL3', 'COL4'])

In [23]:
df

          COL1      COL2      COL3      COL4
ROW1  2.706850  0.628133  0.907969  0.503826
ROW2  0.651118 -0.319318 -0.848077  0.605965
ROW3 -2.018168  0.740122  0.528813 -0.589001